$primary-color: #121212;
$accent-color: #B497FF;
$second-accent-color: #FF6d90;
$third-accent-color: #FFd1e3; 
$text-color: #EDEDED;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
$body-font: 'Inter', sans-serif;
$heading-font: 'DM Serif Display', serif;
$mobile: 800px;
$desktop: 1200px;

